.btn {
  margin: 10px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.paginationItem {
  background: #cccccc;
  color: #000000;
  border-radius: 0.8em;
  cursor: pointer;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  line-height: 1.6em;
  margin: 4px;
  text-align: center;
  width: 1.6em;
}
